In [2]:
import pandas as pd
import csv
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
from sklearn.utils import shuffle

In [3]:
eng_freq_fn = '/mnt/permanent/home/eszti/dipterv/panlex/data/freq/eng_vocab_freq.txt'
ita_freq_fn = '/mnt/permanent/home/eszti/dipterv/panlex/data/freq/ita_vocab_freq.txt'

In [4]:
eng_f = pd.read_csv(eng_freq_fn, sep=' ', header=None, names = ["eng", "freq"])

In [5]:
eng_f.head()
len(eng_f.index)

   eng       freq
0  the  193688441
1    ,  152169667
2    .  130021704
3   of  101645398
4  and   94288110

6620170

In [6]:
pl_fn = '/mnt/permanent/home/eszti/dipterv/panlex/data/panlex/tsv/eng_ita_tr_te/eng_ita.tsv'

In [7]:
pl = pd.read_csv(pl_fn, sep='\t', header=None, names = ["lang1", "lang2", "eng", "ita", "conf"])
len(pl.index)

661910

In [8]:
pl_7 = pl[pl.conf > 6]
pl_7.tail()
len(pl_7.index)

       lang1 lang2     eng             ita  conf
169350   eng   ita  turkey          grullo   7.0
169351   eng   ita  reward       gratifica   7.0
169352   eng   ita  turkey       credulone   7.0
169353   eng   ita    milk        da latte   7.0
169354   eng   ita  reward  gratificazione   7.0

169355

In [9]:
pl_7_f = pd.merge(pl_7, eng_f)
len(pl_7_f.index)

106453

In [10]:
pl_7_f.head()
pl_7_f.tail()

  lang1 lang2     eng     ita  conf  freq
0   eng   ita    lats    lats   9.0   165
1   eng   ita  dirham  dirham   9.0   114
2   eng   ita   dinar  dinaro   9.0   590
3   eng   ita   dinar  denaro   7.0   590
4   eng   ita    dong    dong   9.0  2687

       lang1 lang2       eng             ita  conf  freq
106448   eng   ita      barf  dar di stomaco   7.0   297
106449   eng   ita      barf        vomitare   7.0   297
106450   eng   ita    swatch           pezza   7.0   753
106451   eng   ita  grasping           avido   7.0  6621
106452   eng   ita  grasping          vorace   7.0  6621

In [11]:
eng_f_fil = pl_7_f[['eng', 'freq']].copy()
len(pl_7_f.index)
len(eng_f.index)
len(eng_f_fil.index)

106453

6620170

106453

In [12]:
bin1 = eng_f_fil[(eng_f_fil.freq >= 1000) & (eng_f_fil.freq < 5000)]
len(bin1.index)

20406

In [13]:
bin2 = eng_f_fil[(eng_f_fil.freq >= 5000) & (eng_f_fil.freq < 20000)]
len(bin2.index)

18339

In [14]:
bin3 = eng_f_fil[(eng_f_fil.freq >= 20000) & (eng_f_fil.freq < 50000)]
len(bin3.index)

10768

In [15]:
bin4 = eng_f_fil[(eng_f_fil.freq >= 50000) & (eng_f_fil.freq < 100000)]
len(bin4.index)

7494

In [16]:
bin5 = eng_f_fil[(eng_f_fil.freq >= 100000) & (eng_f_fil.freq < 200000)]
len(bin5.index)

5939

In [17]:
def get_300(binN, alle, N):
    bin_rand = shuffle(binN)
    print('Number of words in {0}: {1}'.format(N, len(binN.index)))
    bin_300 = bin_rand.head(300)
    print('len 300: {0}'.format(len(bin_300.index)))
    test_N = pd.merge(alle, bin_300, on=['eng', 'freq'])
    print('len test 300: {0}'.format(len(test_N.index)))
    return test_N

In [18]:
test1 = get_300(bin1, pl_7_f, 1)

Number of words in 1: 20406
len 300: 300
len test 300: 1398

In [19]:
test2 = get_300(bin2, pl_7_f, 2)

Number of words in 2: 18339
len 300: 300
len test 300: 1971

In [20]:
test3 = get_300(bin3, pl_7_f, 3)

Number of words in 3: 10768
len 300: 300
len test 300: 2594

In [21]:
test4 = get_300(bin4, pl_7_f, 4)

Number of words in 4: 7494
len 300: 300
len test 300: 3206

In [22]:
test5 = get_300(bin5, pl_7_f, 5)

Number of words in 5: 5939
len 300: 300
len test 300: 3520

In [42]:
test1.head(10)

  lang1 lang2          eng                  ita  conf  freq
0   eng   ita      dashing    nuvola di polvere   8.0  2917
1   eng   ita      dashing               focoso   7.0  2917
2   eng   ita         tram                 tram   8.0  3218
3   eng   ita         tram              tranvai   7.0  3218
4   eng   ita   flashlight               torcia   8.0  4612
5   eng   ita   flashlight  lampadina tascabile   7.0  4612
6   eng   ita   flashlight    lampada portatile   7.0  4612
7   eng   ita   flashlight     torcia elettrica   7.0  4612
8   eng   ita   flashlight                 pila   7.0  4612
9   eng   ita  centimetres           centimetri   8.0  1393

In [39]:
ita_ls = []
with open(ita_freq_fn, encoding='latin-1') as f:
    lines = f.read().splitlines()
    for i, line in enumerate(lines):
        words = line.split(' ')
        try:
            ita_ls.append((words[0], words[1]))
        except:
            continue

In [40]:
len(ita_ls)

6278167

In [41]:
ita_f = pd.DataFrame(ita_ls, columns=['freq', 'ita'])
len(ita_f.index)
ita_f.head()

6278167

       freq  ita
0  98847888    ,
1  65521116   di
2  56115098    .
3  40599023    e
4  27182874  che

In [ ]:
def get_300_uq(binN, alle, freq2):
    bin_rand = shuffle(binN)
    print('Number of words in {0}: {1}'.format(N, len(binN.index)))
    bin_300 = bin_rand.head(300)
    print('len 300: {0}'.format(len(bin_300.index)))
    test_N = pd.merge(alle, bin_300, on=['eng', 'freq'])
    print('len test 300: {0}'.format(len(test_N.index)))
    return test_N